# ignore docs folder
docs/
/exp2/nbproject/private/
/exp3/nbproject/private/
/exp4/nbproject/private/
/exp5/nbproject/private/
/JavaApplication12/nbproject/private/
/exp6/nbproject/private/
/exp7/nbproject/private/
/exp8/nbproject/private/
/exp9/nbproject/private/
/exp10/nbproject/private/
/exp11/nbproject/private/
nbproject/
build.xml
manifest.mf
record/misc
record/others
/mavenproject1/target/
/exp99/swing/build/
/exp97/swing/build/
/exp96/Swing/build/
/exp97/President/build/
/exp96/saruvedz/build/
/calc/calc/build/
record/